<p id="notice"><%= notice %></p>

<h1>DASHBOARD</h1>

<p><u>Current Balance</u></p>
Your current balance is: $<%= @current_balance %>

<% if @broke %>
    <h2>Ay Dios Mio! Your balance is LOCO!</h2>
<% end %>

<p><u>Transactions Summary</u></p>
Your total number of transactions is: <%= @racket_total %>

<br>
<br>
<%= link_to 'List Rackets', rackets_index_path %>
<%= link_to 'New Racket', new_racket_path %>
