<p id="notice"><%= notice %></p>

<h1>Listing Rackets</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Entity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rackets.each do |racket| %>
      <tr>
        <td><%= racket.amount %></td>
        <td><%= racket.entity %></td>
        <td><%= link_to 'Show', racket %></td>
        <td><%= link_to 'Edit', edit_racket_path(racket) %></td>
        <td><%= link_to 'Destroy', racket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Racket', new_racket_path %>
